.form-holder {
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 10px;

}

.post-img2 {
    width: 35vw;
    height: 85vh;
}

form>div {
    width: 400px;
    margin: 7px;
}

.form-holder input {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border: 0;
    border: 1px solid gray;
    border-radius: 10px;
}

.author-location {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.author-location>input {
    height: 5vh;
    padding-left: 10px;
    width: 40%;
}

.file-desc {
    width: 95%;
    height: 50px;
}

.file-desc>input {
    height: 30px;
    width: 98%;
}

.postButton {
    width: 55px;
    background-color: rgb(28, 25, 21);
    border: none;
    color: white;
    padding: 6px;
    cursor: pointer;
    border-radius: 3px;
}

.postButton:hover {
    width: 55px;
    background-color: rgb(51, 38, 19);
    border: none;
    color: white;
    padding: 6px;
    cursor: pointer;
    border-radius: 3px;
}